.event-guestlist {
	background-color: #d9b44a;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	width: 200px;
}
.event-guests-wrapper {
	margin-left: auto;

}
.rsvp {
	font-size: .75em;
}

.rsvp.declined {
	color: rgb(160, 63, 63);
}

.rsvp.host, .rsvp.confirmed {
	color: rgb(9, 116, 9);
}

.rsvp.invited , .rsvp.maybe {
	color: #002a32;
}
.change-rsvp {
	line-height: 1em;
	font-size: .9em;
}
.change-rsvp:hover {
	color: white;
}