.event-top-game {
	margin: 0 auto;
	max-width: 80%;
	background-color: #acd0c07c;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.event-top-game:nth-child(odd) {
	background-color: #d9b34a7e;
}