.event-top-game {
	margin: 0 auto;
	max-width: 80%;
	/* border: 1px solid lightgray; */
	border-radius: 4px;
	background-color: #acd0c0;
}

.event-top-game:nth-child(odd) {
	background-color: #d9b44a;
}