.event-guestlist {
	background-color: grey;
	color: lightgrey;
	/* float: right; */
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	width: 200px;
}
.event-guests-wrapper {
	margin-left: auto;

}
.rsvp {
	font-size: .75em;
}

.rsvp.declined {
	color: rgb(216, 163, 163);
}

.rsvp.host, .rsvp.confirmed {
	color: rgb(162, 201, 162);
}

.rsvp.invited {
	color: rgb(222, 226, 158);
}
.change-rsvp {
	line-height: 1em;
	font-size: .9em;
}
.change-rsvp:hover {
	color: white;
}