.event-top-game {
	margin: 0 auto;
	max-width: 80%;
	/* border: 1px solid lightgray; */
	/* border-radius: 4px; */
	background-color: #acd0c07c;
}

.event-top-game:nth-child(odd) {
	background-color: #d9b34a7e;
}