
.game-ballot {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.game-ballot img {
	height: 1.5em;
	margin: 1px 1px;
	/* filter: brightness(50%) sepia(1); */
}

.game-ballot>a:hover {
	filter: invert(1);
	transition: filter .2s ease-in-out;
}

.game-ballot>a:active {
	transform: scale(1.1) rotate(10deg);
	transition: all 2s ease-in-out;
}

.game-ballot a.selected > .up {
	filter: brightness(50%) sepia(1)
		hue-rotate(80deg);
}
.game-ballot a.selected > .down {
	filter: brightness(50%) sepia(1)
		hue-rotate(-80deg);
}
.game-ballot a.selected > .middle {
	filter: brightness(50%) sepia(1)
		hue-rotate(0deg);
}

