* {
	margin: 0px;
	padding: 0px;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* border-bottom: 10px dashed black; */
}

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', "Open Sans", sans-serif; 
	font-size: 18px;
	color: #002a32;
	background-color: #acd0c0;
	text-align: center;
	line-height: 1.5;
	display: flex;
	flex-direction: column;

	/* margin: 50px; */
}

button {
	border-radius: 1em;
	padding: .25em;
	background-color: #4f6457;
	color: #75b1a9;
	border: 1px solid #75b1a9;
}

button:hover {
	color: #d9b44a;
	border: #d9b44a 1px solid;
}

main {
	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

/* button {
	height: 1em;
	background-color: #e7e7e7;
	display: inline-block;
} */

/* 
section ul {
	text-align: left;
	padding-left: 60px;
} */

section {
	padding: 20px;
}


h2 {
	font-size: 1.5em;
	margin-bottom: .5em;
}
h3 {
	font-size: 1.25em;
}


/*
section:nth-child(even) {
	background-color: lightgrey;
} */
/* 
form {
	padding: 0 60px;
} */

/* input {
	display: block;
	margin: 5px auto;
	padding: 5px;
	width: 100%;
} */
/* 
input[type=date], input[type=time] {
	width: auto;
} */
.login-form {
	margin: 0 0 1.5em 0;
}

.login-form button {
	margin-top: 1.5em;
}

.rating {
	background-color: lightgray;
	color: black;
	border-radius: 100%;
	padding: 7px;
	/* height: 75px; */
	/* width: 75px; */
}

.input-text-field {
	display:block;
	background-color: red;
}
