.landing-page.section {
	/* border: 1px solid grey; */
	border-radius: 5px;
	background-color: lightgrey;
	padding: 1em 2em;
	margin: .5em 2em;
}
.landing-page-list {
	text-align: left;
	margin: 0 4em;
	margin-bottom: 1.5em;
}

.landing-page-list>li::before {
	content: '⇒ '
}