.add-game-dropdown {
    background-color: white;
    position: absolute;
    right: 5%;
    left: 5%;
    z-index: 1;
    max-height: 25em;
    overflow: scroll;
    margin: 0 auto;
    max-width: 30em;
    margin-top: 0px;
	border-top: solid #00000080 1px;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.add-game-dropdown>li {
    padding: 0 .25em;
}
.add-game-dropdown>li:nth-child(even) {
    background-color: #fff8e0;
}

.select-game-dropdown {
    position: absolute;
    display: block;
    right: 5%;
    left: 5%;
    max-width: 20em;
    z-index: 1;
    text-align: center;
    margin: 4px auto 0 auto;
}

.select-game-container {
	position: relative;
}

.x-button {
    position: absolute;
    top: -1em;
    right: 0em;
    z-index: 2;
    width: 2em;
    height: 2em;
} 

.select-game-container > div {
	margin: 0 auto;
}

.add-game-dropdown>li:hover {
	background-color: rgb(240, 240, 240);
	cursor: pointer;
}

.center-horrizonal {
	/* padding: 10px 0; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 0 auto; */
	/* text-align: center; */
}