.add-game-dropdown {
	background-color: white;
	position: absolute;
	z-index: 1;
	max-width: 50%;
	max-height: 20em;
	overflow: scroll;
	margin: 0 25%;
	margin-top: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	padding: .25em;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.select-game-dropdown {
	position: absolute;
	z-index: 1;
	/* max-width: 50%; */
	/* max-height: 20em; */
	/* align-content: center; */
	/* align-self: center; */
	margin-top: 4px;
	text-align: center;
	padding: 0 auto;
	display: block;
	width: 100%;
}

.select-game-dropdown > div {
	margin: 0 auto;
}

.add-game-dropdown>li:hover {
	background-color: rgb(240, 240, 240);
	cursor: pointer;
}

.center-horrizonal {
	/* padding: 10px 0; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 0 auto; */
	/* text-align: center; */
}