
.sort {
	border: .5px solid #4f6457;
	margin: 0;
	margin-right: -1px;
	margin-bottom: .25em;
	padding: 0 .25em;
	cursor: pointer;
}

.sort.left {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	padding-left: .5em;
}
.sort.right {
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	padding-right: .5em;
}

.sort:hover, .sort.selected {
	background-color: #D9B44A;
	color: #ACD0C0;
}

.sort.selected.asc::after {
	content: " ⇧"
}

.sort.selected.desc::after {
	content: " ⇩"
}

.sort-container {
	margin: 0;
}