.game-filter-title {
	border: 1px solid lightgray;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.game-filter-title.closed {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transition-delay: .5s;
}
.game-filter-title.open{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}

.game-filter-container {
	padding: 0 1em;
	overflow: scroll;
	/* max-width: 20em; */
	/* background-color: red; */
}
.game-filter-container>li:hover {
	box-shadow: 1px 1px 3px lightgrey;
	/* background-color: lightgrey; */
}
/* .game-filter-container>li {
	padding: .25em;
} */
.game-filter-container.open {
	transition: height .5s ease-in-out;
	height: 500px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid lightgray;
	border-top:	0;
}
.game-filter-container.closed {
	transition: height .5s ease-in-out;
	height: 0px;
	border: 0px solid lightgray;
}