
.sort {
	border: .5px solid grey;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 0 2px;
	cursor: pointer;
}

.sort:hover, .sort.selected {
	background-color: grey;
	color: white;
}

.sort.selected.asc::after {
	content: " ⇧"
}

.sort.selected.desc::after {
	content: " ⇩"
}