
.boxtop-deets {
	background-color: white;
	font-size: .7em;
	display: block;
	width: 150px;
	padding: .5em;
	border-radius: 3px;
	margin: 0 auto;
}

.boxtop-deets span {
	display: flex;
}

.boxtop-icon {
	flex-direction: column;
	max-width: 40px;
}

.game-card {
	/* border: 1px grey solid; */
	/* max-width: 400px; */
	width: 100%;
	padding: .5em;
	background-color: #acd0c07c;
	transition: all .15s ease-out;
}

.game-card:nth-child(odd) {
	background-color: #d9b34a7e;
}

.game-card:hover {
	/* box-shadow: 1px 1px 3px 0px rgb(190, 190, 190); */
	transform: scale(1.02);
}

.game-card-title {
	font-size: 1em;
}

.game-owners {
	font-size: .85em;
}

.boxtop-img-col {
	flex-direction: row;
}

.game-action {
	cursor: pointer;
	color: lightgrey;
	font-style: italic;
	text-align: right;
	line-height: 14px;
}
