
.game-card {
	max-width: 325px;
	display: grid;
	grid-template-areas: 
		"title"
		"cover"
		"deets"
		"vote"
		"owners";
	/* width: 200px; */

	padding: 0;
	background-color: #acd0c07c;
	transition: all .15s ease-out;
}

.boxtop-title {
	background-color: #acd0c0;
	position: relative;
	top: 0;
	font-size: 1em;
	grid-area: title;
	padding: 0 .15em;
	margin-bottom: .2em;
}

.game-card:nth-child(odd) {
	background-color: #d9b34a7e;
}

.game-card:nth-child(odd) .boxtop-title {
	background-color: #d9b34a;
}

/* 
.boxtop-vote {
	background-color: #acd0c0;
}

.game-card:nth-child(odd) .boxtop-vote {
	background-color: #d9b34a;
} */

.boxtop-deets {
	display: flex;
	align-items: center;
	justify-content: center;	
	width: 200px;
	margin: 0 auto .35em auto;
	grid-area: deets;
}

.boxtop-icon {
	padding: 0 .25em;
	position: relative;
	/* margin-bottom: -.9em; */
}

.boxtop-icon p {
	position: relative;
	/* top: -.65em; */
	/* left: 50%; */
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 900;
	font-size: 1em;
	line-height: .5%;
}

.boxtop-cover {
	/* flex-direction: row; */
	grid-area: cover;
	margin: .25em auto 0 auto;
}

.boxtop-cover img {
	max-height: 300px;
	max-width: 300px;
	border: 1px solid black;
	box-shadow: 1px 2px 3px gray;
}

.boxtop-vote {
	margin-top: .2em;
	grid-area: vote;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-action {
	cursor: pointer;
	color: lightgrey;
	font-style: italic;
	text-align: right;
	line-height: 14px;
}


.game-owners {
	font-size: .85em;
	grid-area: owners;
}
