.dashboard-user {
	background-color: lightgrey;
	margin: 2px;
	padding: 2px;
	/* float: right; */
}

.dashboard-gamelist-summary {
	background-color: lightgrey;
	margin: 2px;
	padding: 2px;
	/* float: right; */
	
}